<!DOCTYPE html>
<html>

<head>
  <title>Unit03 Controllers</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/course.css" />
</head>

<body ng-app="MyApp">

  <div ng-controller="AppCtrl as app">
    <div>
      <input type="text" ng-model="app.typingText" />
    </div>
    <div class="alert alert-success">
      You said {{ app.typingText }}
    </div>
    <div ng-controller="InnerCtrl as inner">
      <button ng-click="inner.emitEvent()" class="btn btn-info">Emit an event</button>

      <div>Acknowledgements received: {{ inner.ackCount }}</div>
      <div>Last message: {{ inner.lastMessage }}</div>

    </div>
  </div>


  <script src="../bower_components/angular/angular.js"></script>
  <script src="demo-3c.js"></script>
</body>

</html>
