<div>
  Please log in:

  <hr>

  <!-- Disable native browser validation with novalidate for Angular validation to work -->
  <form name="loginForm" novalidate>

    <div class="form-group">
      <!-- Assign the invalidField class if loginForm.email.$invalid is true -->
      <label
        for="email"
        ng-class="{'invalidField' : loginForm.email.$invalid}">
        Email address:
      </label>
      <!-- The email field is required -->
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Enter email"
        ng-model="login.email"
        required/>
    </div>

    <div class="form-group">
      <label
        for="password"
        ng-class="{'invalidField' : loginForm.password.$invalid}">
        Password:
      </label>
      <!-- The password must be at least 4 characters long and is required -->
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Enter password"
        ng-model="login.password"
        ng-minlength="4"
        required/>

      <!-- Show this warning when the password is not long enough or is otherwise invalid -->
      <p class="alert alert-warning"
        ng-show="loginForm.password.$error.minlength || loginForm.password.$invalid">
        Password must be at least four characters.
      </p>
    </div>

    <button class="btn btn-info" ng-click="login.login(loginForm)">Log In</button>
    <!--Try this: <button class="btn btn-info" ng-click="login(loginForm)" ng-disabled="loginForm.$invalid" >Log In</button>-->
  </form>
</div>
