<!DOCTYPE html>
<html>

<head>
  <title>Unit06 Filters</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/course.css" />
</head>

<body ng-app="MyApp">

  <div ng-controller="MyCtrl as ctrl">
    <button class="btn btn-success" ng-click="ctrl.getUsers()">Get Users</button>

    <hr/>

    <input type="text" ng-model="ctrl.searchText" />

    <table class="table-bordered">

      <!-- Search all fields by searchText -->
      <tr ng-repeat="user in ctrl.users | filter: ctrl.searchText">

      <!-- Convert firstName and lastName using our new titleCase filter -->
        <td>{{ user.firstName | titleCase }}</td>
        <td>{{ user.lastName | titleCase }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </table>
  </div>

  <script src="../bower_components/angular/angular.js"></script>

  <!-- Include the Underscore String library -->
  <script src="../bower_components/underscore.string/dist/underscore.string.js"></script>

  <script src="demo-6b.js"></script>
</body>

</html>
