<!DOCTYPE html>
<html>

<head>
  <title>Unit06 Filters</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/course.css" />
</head>

<body ng-app="MyApp">

  <div ng-controller="MyCtrl as ctrl">
    <button class="btn btn-success" ng-click="ctrl.getUsers()">Get Users</button>

    <hr/>

    <input type="text" ng-model="ctrl.searchText" />

    <table class="table-bordered">
      <!-- Order the users by lastName, filter their last names by the searchText, and limit the results to 7 -->
      <tr ng-repeat="user in ctrl.users | orderBy:'lastName' :true | filter:{lastName:ctrl.searchText} | limitTo: 7">
        <td>{{ user.firstName }}</td>
        <!-- Transform the lastName to UPPERCASE -->
        <td>{{ user.lastName | uppercase }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </table>
  </div>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="demo-6a.js"></script>
</body>

</html>
